:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--VeryDarkBlue);
    font-size:2.6rem;
    color: white;
}
.blocstart{
    margin: 10rem auto;
    padding: 3rem;
    background-color: var(--DarkBlue);
    width:100%;
    max-width: 400px;
    min-width: 200px;
    height: 100%;
    max-height: ;
}